// $board-bg-color: #EAFAF1;
// $app-navbar-bg-color: #D7BDE2;
// $board-navbar-bg-color: #F5CBA7;
$board-bg-color: #FAF8D4;
$app-navbar-bg-color: #EBDCCB;
$board-navbar-bg-color: #C3BAAA;
$list-bg-color: #91818A;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.3em;
  font-size: 16px;
  background: linear-gradient(90deg, #b9a9b2 0%, #cbc0a9  50%);
}
// html {
//   height:100%;
// }

// body {
//   margin:0;
// }

// .bg {
//   animation:slide 6s ease-in-out infinite alternate;
//   background-image: linear-gradient(-60deg, #FAF8D4 50%,#afa1a9 50%);
//   bottom:0;
//   left:-50%;
//   opacity:.5;
//   position:fixed;
//   right:-50%;
//   top:0;
//   z-index:-1;
// }

// .bg2 {
//   animation-direction:alternate-reverse;
//   animation-duration:10s;
// }

// .bg3 {
//   animation-duration:10s;
// }

// .content {
//   background-color:rgba(255,255,255,.8);
//   border-radius:.25em;
//   box-shadow:0 0 .25em rgba(0,0,0,.25);
//   box-sizing:border-box;
//   left:50%;
//   padding:10vmin;
//   position:fixed;
//   text-align:center;
//   top:50%;
//   transform:translate(-50%, -50%);
// }

// h1 {
//   font-family:monospace;
// }

// @keyframes slide {
//   0% {
//     transform:translateX(-25%);
//   }
//   100% {
//     transform:translateX(25%);
//   }
// }
// body {
//   --s: 25vmin;
//   --p: calc(var(--s) / 2);
//   --c1: rgb(227, 209, 212);
//   --c2: rgb(130, 116, 129);
//   --c3: rgb(226, 203, 203);
//   --bg: var(--c3);
//   --d: 4000ms;
//   --e: cubic-bezier(0.76, 0, 0.24, 1);
  
//   background-color: var(--bg);
//   background-image:
//     linear-gradient(45deg, var(--c1) 25%, transparent 25%),
//     linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
//     linear-gradient(45deg, transparent 75%, var(--c2) 75%),
//     linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
//   background-size: var(--s) var(--s);
//   background-position: 
//     calc(var(--p) *  1) calc(var(--p) *  0), 
//     calc(var(--p) * -1) calc(var(--p) *  1), 
//     calc(var(--p) *  1) calc(var(--p) * -1), 
//     calc(var(--p) * -1) calc(var(--p) *  0);
//   animation: 
//     color var(--d) var(--e) infinite,
//     position var(--d) var(--e) infinite;
// }

// @keyframes color {
//   0%, 25% {
//     --bg: var(--c3);
//   }
//   26%, 50% {
//     --bg: var(--c1);
//   }
//   51%, 75% {
//     --bg: var(--c3);
//   }
//   76%, 100% {
//     --bg: var(--c2);
//   }
// }

// @keyframes position {
//   0% {
//     background-position: 
//       calc(var(--p) *  1) calc(var(--p) *  0), 
//       calc(var(--p) * -1) calc(var(--p) *  1), 
//       calc(var(--p) *  1) calc(var(--p) * -1), 
//       calc(var(--p) * -1) calc(var(--p) *  0);
//   }
//   25% {
//     background-position: 
//       calc(var(--p) *  1) calc(var(--p) *  4), 
//       calc(var(--p) * -1) calc(var(--p) *  5), 
//       calc(var(--p) *  1) calc(var(--p) *  3), 
//       calc(var(--p) * -1) calc(var(--p) *  4);
//   }
//   50% {
//     background-position: 
//       calc(var(--p) *  3) calc(var(--p) * 8), 
//       calc(var(--p) * -3) calc(var(--p) * 9), 
//       calc(var(--p) *  2) calc(var(--p) * 7), 
//       calc(var(--p) * -2) calc(var(--p) * 8);
//   }
//   75% {
//     background-position: 
//       calc(var(--p) *  3) calc(var(--p) * 12), 
//       calc(var(--p) * -3) calc(var(--p) * 13), 
//       calc(var(--p) *  2) calc(var(--p) * 11), 
//       calc(var(--p) * -2) calc(var(--p) * 12);
//   }
//   100% {    
//     background-position: 
//       calc(var(--p) *  5) calc(var(--p) * 16), 
//       calc(var(--p) * -5) calc(var(--p) * 17), 
//       calc(var(--p) *  5) calc(var(--p) * 15), 
//       calc(var(--p) * -5) calc(var(--p) * 16);
//   }
// }

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}


.trello-container {
  height: 100vh;
  display: grid;
  // flex-direction: row;
  //!робить різні дві полоски перші 
  grid-template-rows: 50px 1fr;
  
//!


//!
  // background-color: $board-bg-color;
  .icon{
    font-size: 15px;
    margin-right: 3px;
  }
  
  // .board-columns {
  //   display: flex;
  //   margin: 0 10px 10px;
  //   gap: 10px;
  //   overflow-x: auto;

  //   &::-webkit-scrollbar {
  //     -webkit-appearance: none;
  //   }
  //   &::-webkit-scrollbar:horizontal {
  //     height: 11px;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: rgba(0, 0, 0, 0.24);

  //   }
    
  //   .columns {
  //     flex: 0 0 auto;
  //     width: 300px;
  //     margin-top: 10px;

  //     * {
  //       background-color: $list-bg-color;
  //       color: #333;
  //       padding: 0 8px;
  //     }
      
  //     header {
  //       padding-left: 15px;
  //       height: 36px;
  //       line-height: 36px;
  //       font-size: 16px;
  //       font-weight: bold;
  //       border-top-left-radius: 5px;
  //       border-top-right-radius: 5px;
  //     }

  //     footer {
  //       padding-left: 10px;
  //       height: 36px;
  //       line-height: 36px;
  //       font-size: 16px;
  //       font-weight: bold;
  //       border-bottom-left-radius: 5px;
  //       border-bottom-right-radius: 5px;
  //     }

  //     ul {
  //       list-style-type: none;
  //       margin: 0;
  //       max-height: calc(100% - 36px - 36px);
  //       overflow-y: auto;

  //       &::-webkit-scrollbar {
  //         -webkit-appearance: none;
  //       }
  //       &::-webkit-scrollbar:vertical {
  //         width: 11px;
  //       }
  //       &::-webkit-scrollbar-thumb {
  //         background-color: darken($color: $list-bg-color, $amount: 15);
  //         border-right: 5px solid $list-bg-color;
  //       }

  //       li {
  //         background-color: #B2A3B5;
  //         padding: 10px;
  //         border-radius: 3px;
  //         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);

  //         &:not(:last-child) {margin-bottom: 10px;}

  //         img {
  //           display: block;
  //           width: calc(100% + 10px);
  //           margin: -10px 0 10px (-10px);
  //           border-top-left-radius: 3px;
  //           border-top-right-radius: 3px;
  //         }
  //       }
  //     }
  //   }
  // }
}